/* responsive-font-size property with `px` unit */
.selector-1 {
  background-color: red;
  width: 300px;
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .selector-1 {
      font-size: calc(1.2rem + 1.06667vw) ; } }

/* responsive-font-size property with `rem` unit */
.selector-2 {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .selector-2 {
      font-size: calc(1.2rem + 1.06667vw) ; } }

/* responsive-font-size property with !important */
.selector-3 {
  font-size: 2rem !important; }
  @media (max-width: 1200px) {
    .selector-3 {
      font-size: calc(1.2rem + 1.06667vw)  !important; } }

/* rfs shorthand */
.selector-4 {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .selector-4 {
      font-size: calc(1.2rem + 1.06667vw) ; } }

/* not supported unit */
.selector-5 {
  font-size: 2em; }

/* special value */
.selector-6 {
  font-size: inherit; }

/* responsive-font-size property inside @support-query */
@supports (display: flex) {
  .selector-7 {
    font-size: 1.75rem; }
    @media (max-width: 1200px) {
      .selector-7 {
        font-size: calc(1.15rem + 0.8vw) ; } } }

/* responsive-font-size property without unit */
.selector-8 {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    .selector-8 {
      font-size: calc(1.2rem + 1.06667vw) ; } }
