.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: 32px; }
  @media (max-width: 1200px) {
    .selector-1 {
      font-size: calc(21.2px + 0.9vw) ; } }

.selector-2 {
  font-size: 32px; }
  @media (max-width: 1200px) {
    .selector-2 {
      font-size: calc(21.2px + 0.9vw) ; } }

.selector-3 {
  font-size: 32px !important; }
  @media (max-width: 1200px) {
    .selector-3 {
      font-size: calc(21.2px + 0.9vw)  !important; } }

.selector-4 {
  font-size: 32px; }
  @media (max-width: 1200px) {
    .selector-4 {
      font-size: calc(21.2px + 0.9vw) ; } }

.selector-5 {
  font-size: 2em; }

.selector-6 {
  font-size: inherit; }

@supports (display: flex) {
  .selector-7 {
    font-size: 28px; }
    @media (max-width: 1200px) {
      .selector-7 {
        font-size: calc(20.8px + 0.6vw) ; } } }

.selector-8 {
  font-size: 32px; }
  @media (max-width: 1200px) {
    .selector-8 {
      font-size: calc(21.2px + 0.9vw) ; } }
