@import "../../stylus/rfs"

.selector-1
  background-color: #f00
  width: 300px
  responsive-font-size(32px)

.selector-2
  responsive-font-size(2rem)

.selector-3
  responsive-font-size(2rem, true)

.selector-4
  rfs(2rem)

.selector-5
  responsive-font-size(2em)

.selector-6
  responsive-font-size(inherit)

@supports (display: flex)
  .selector-7
    rfs(28px)

.selector-8
  responsive-font-size(32)
