$enable-rfs: true !default;
$rfs-base-value: 1.25rem !default;
$rfs-breakpoint-unit: px !default;
$rfs-breakpoint: 1200px !default;
$rfs-class: false !default;
$rfs-factor: 10 !default;
$rfs-mode: min-media-query !default;
$rfs-rem-value: 16 !default;
$rfs-safari-iframe-resize-bug-fix: false !default;
$rfs-two-dimensional: false !default;
$rfs-unit: rem !default;

@use "../../scss" as rfs with (
  $enable-rfs: $enable-rfs,
  $rfs-base-value: $rfs-base-value,
  $rfs-breakpoint-unit: $rfs-breakpoint-unit,
  $rfs-breakpoint: $rfs-breakpoint,
  $rfs-class: $rfs-class,
  $rfs-factor: $rfs-factor,
  $rfs-mode: $rfs-mode,
  $rfs-rem-value: $rfs-rem-value,
  $rfs-safari-iframe-resize-bug-fix: $rfs-safari-iframe-resize-bug-fix,
  $rfs-two-dimensional: $rfs-two-dimensional,
  $rfs-unit: $rfs-unit
);

// font-size property with `px` unit
.selector-1 {
  width: 300px;
  background-color: #f00;
  @include rfs.font-size(32px);
}

// font-size property with `rem` unit
.selector-2 {
  @include rfs.font-size(2rem);
}

// font-size property with !important
.selector-3 {
  @include rfs.font-size(2rem !important);
}

// rfs shorthand
.selector-4 {
  @include rfs.rfs(2rem);
}

// not supported unit
.selector-5 {
  @include rfs.font-size(2em);
}

// special value
.selector-6 {
  @include rfs.font-size(inherit);
}

// font-size property inside @support-query
@supports (display: flex) {
  .selector-7 {
    @include rfs.rfs(28px);
  }
}

// flex property with unitless values
.selector-8 {
  @include rfs.rfs(0 999 32rem, flex);
}

// padding property
.selector-9 {
  @include rfs.rfs(2rem, $property: padding);
}

// padding shorthands
.selector-10 {
  @include rfs.padding(2rem);
}

.selector-11 {
  @include rfs.padding-top(2rem);
}

.selector-12 {
  @include rfs.padding-right(2rem);
}

.selector-13 {
  @include rfs.padding-bottom(2rem);
}

.selector-14 {
  @include rfs.padding-left(2rem);
}

// margin shorthands
.selector-15 {
  @include rfs.margin(2rem);
}

.selector-16 {
  @include rfs.margin-top(2rem);
}

.selector-17 {
  @include rfs.margin-right(2rem);
}

.selector-18 {
  @include rfs.margin-bottom(2rem);
}

.selector-19 {
  @include rfs.margin-left(2rem);
}

// Multiple values
.selector-20 {
  @include rfs.margin(2rem 3rem);
}

// Multiple values with important
.selector-21 {
  @include rfs.margin(2rem 3rem !important);
}

// Zero test
.selector-22 {
  @include rfs.rfs(0);
}

// Zero combination test
.selector-23 {
  @include rfs.margin(0 3rem);
}

// Value with comma
.selector-24 {
  @include rfs.rfs(0 0 2rem #f00 #{","} 0 0 3rem #0f0, box-shadow);
}

// Custom properties
.selector-25 {
  @include rfs.rfs(3rem, --value);
}

// Test small value
.selector-26 {
  @include rfs.font-size(10px);
}

// Negative units
.selector-27 {
  @include rfs.margin(-3rem);
}

// Small negative unit
.selector-28 {
  @include rfs.margin(-.5rem);
}
