.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: min(32px, calc(21.2px + 0.9vw));
}

.selector-2 {
  font-size: min(32px, calc(21.2px + 0.9vw));
}

.selector-3 {
  font-size: min(32px, calc(21.2px + 0.9vw)) !important;
}

.selector-4 {
  font-size: 2em;
}

.selector-5 {
  font-size: inherit;
}

@supports (display: flex) {
  .selector-6 {
    font-size: min(28px, calc(20.8px + 0.6vw));
  }
}

.selector-7 {
  flex: 0 999 min(512px, calc(69.2px + 36.9vw));
}

.selector-8 {
  padding: min(32px, calc(21.2px + 0.9vw));
}

.selector-9 {
  margin: min(32px, calc(21.2px + 0.9vw)) min(48px, calc(22.8px + 2.1vw));
}

.selector-10 {
  margin: min(32px, calc(21.2px + 0.9vw)) min(48px, calc(22.8px + 2.1vw)) !important;
}

.selector-11 {
  font-size: 0;
}

.selector-12 {
  margin: 0 min(48px, calc(22.8px + 2.1vw));
}

.selector-13 {
  box-shadow: 0 0 min(32px, calc(21.2px + 0.9vw)) #f00,
    0 0 min(48px, calc(22.8px + 2.1vw)) #0f0;
}

.selector-14 {
  --value: min(48px, calc(22.8px + 2.1vw));
}

.selector-15 {
  font-size: 10px;
}

.selector-16 {
  margin: min(-48px, calc(-22.8px - 2.1vw));
}

.selector-17 {
  margin: -8px;
}
