.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: min(2rem, calc(1.325rem + 0.9vmin));
}

.selector-2 {
  font-size: min(2rem, calc(1.325rem + 0.9vmin));
}

.selector-3 {
  font-size: min(2rem, calc(1.325rem + 0.9vmin)) !important;
}

.selector-4 {
  font-size: 2em;
}

.selector-5 {
  font-size: inherit;
}

@supports (display: flex) {
  .selector-6 {
    font-size: min(1.75rem, calc(1.3rem + 0.6vmin));
  }
}

.selector-7 {
  flex: 0 999 min(32rem, calc(4.325rem + 36.9vmin));
}

.selector-8 {
  padding: min(2rem, calc(1.325rem + 0.9vmin));
}

.selector-9 {
  margin: min(2rem, calc(1.325rem + 0.9vmin))
    min(3rem, calc(1.425rem + 2.1vmin));
}

.selector-10 {
  margin: min(2rem, calc(1.325rem + 0.9vmin))
    min(3rem, calc(1.425rem + 2.1vmin)) !important;
}

.selector-11 {
  font-size: 0;
}

.selector-12 {
  margin: 0 min(3rem, calc(1.425rem + 2.1vmin));
}

.selector-13 {
  box-shadow: 0 0 min(2rem, calc(1.325rem + 0.9vmin)) #f00,
    0 0 min(3rem, calc(1.425rem + 2.1vmin)) #0f0;
}

.selector-14 {
  --value: min(3rem, calc(1.425rem + 2.1vmin));
}

.selector-15 {
  font-size: 0.625rem;
}

.selector-16 {
  margin: min(-3rem, calc(-1.425rem - 2.1vmin));
}

.selector-17 {
  margin: -0.5rem;
}
